In [68]:
import pandas as pd
import numpy as np

In [83]:
df_old = pd.read_csv("../JY_scientific_data_paper/tblASVsamples.csv")
df_old['SampleType'] = 'Stool'
df_old.loc[df_old.SampleID=='1778A','Consistency']= 'semi-formed'
df_old.loc[df_old.SampleID=='FMT.0249D','Consistency'] = 'semi-formed'
df_old = df_old[['SampleID','PatientID','Timepoint','Consistency','SampleType']]
df_old.head()

  SampleID PatientID  Timepoint  Consistency SampleType
0    1000A      1000          0       formed      Stool
1    1000B      1000          5       liquid      Stool
2    1000C      1000         15       liquid      Stool
3    1000D      1000         18  semi-formed      Stool
4    1000E      1000         22       formed      Stool

In [84]:
df = pd.read_csv("../sample_tr.csv", index_col=0)
df = df[['MRN','Sample_ID','DateCollection','SampleType','Consistency']]
df = df[(df.MRN.notnull()) & (df.MRN!=0)]
df.MRN = df.MRN.astype(str)
df = df[~df.MRN.str.contains('anon')]
df.MRN = df.MRN.astype(int)
df_key = pd.read_csv('../tCastoriPatientDictionaryWithDatesAndOtherStudiesPatientId.txt').rename({'cmicId':'PatientID'}, axis=1)
df = pd.merge(df, df_key[['MRN','PatientID','referenceDate']], left_on=['MRN'], right_on=['MRN'], how='inner')
df = df.drop('MRN', axis=1)
df['DateCollection'] = pd.to_datetime(df['DateCollection'], format='%Y-%m-%d')
df['referenceDate'] = pd.to_datetime(df['referenceDate'], format='%Y-%m-%d %H:%M:%S.%f')
df['Timepoint'] = (df['DateCollection']-df['referenceDate']).dt.days
df = df[['Sample_ID','SampleType','PatientID','Timepoint','Consistency']]
df.columns=['SampleID','SampleType','PatientID','Timepoint','Consistency']
df.Consistency = df.Consistency.replace({"formed stool":"formed","semi-formed, jelly":"semi-formed","thick liquid":"liquid",
                                         "Liquid":"liquid","stool":"formed","soft/formed (pink)":"semi-formed",
                                        "Formed stool":"formed","soft/unformed (pink)":"semi-formed","hard (pink)":"formed",
                                        "liquid (pink)":"liquid","Semi-formed":"semi-formed","for7/5":np.NaN})
df

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (2,15,74,75,76) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

             SampleID      SampleType PatientID  Timepoint  Consistency
0      01.alltypes.19  All Oral Types       769        145          NaN
1            01.BS.01     Buccal Swab       769        -13          NaN
2            01.BS.02     Buccal Swab       769         -8          NaN
3            01.BS.03     Buccal Swab       769         -5          NaN
4            01.BS.04     Buccal Swab       769         -2          NaN
...               ...             ...       ...        ...          ...
18098       FMT.0251H           Stool  FMT.0251          7  semi-formed
18099       FMT.0251I           Stool  FMT.0251         12  semi-formed
18100       FMT.0251J           Stool  FMT.0251         13  semi-formed
18101       FMT.0251K           Stool  FMT.0251         14  semi-formed
18102       FMT.0251L           Stool  FMT.0251         15  semi-formed

[18103 rows x 5 columns]

In [85]:
df_new = pd.merge(df, df_old, 
                  left_on=['SampleID','SampleType','PatientID','Timepoint','Consistency'],
                  right_on=['SampleID','SampleType','PatientID','Timepoint','Consistency'],
                  how='outer')
df_new = df_new.drop_duplicates()
for k,sid in enumerate(df_new.SampleID):
    if sid in []:
        continue
    df_ = df_new[df_new.SampleID==sid]
    if len(df_)>1:
        #break
        assert 0

        SampleID SampleType PatientID  Timepoint  Consistency
18305  FMT.0251L      Stool  FMT.0251         15  semi-formed

In [86]:
df_new.to_csv("tblASVsamples.csv", index=False)